{
  "presets": [
    "react",
    "es2017",
    [
      "env", {
        "modules": false,
        "test": {
          "presets": ["react", "es2017"]
        }
      }
    ]  
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions"
  ]
}
