{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
