@import './fonts';
@import './normalize';

body {
  font-family: proxima_nova;
  font-size: 14px;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.modal-container {
  position: fixed;

  @media (max-width: 490px) {
    background-color: rgba(256, 256, 256, 1) !important;
  }

  // this handles iPhone 6 Plus and lower in landscape mode
  @media (max-device-width: 736px) and (orientation: landscape) {
    align-items: baseline !important;
  }

.brand-stamp {
    color: #fff;
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
  a {
    color: #fff;
    text-decoration: underline;
    }
  }
}

.modal-content-container {
  @media (max-width: 490px) {
    height: 100%;
    min-height: 100%;
  }
}
