@import './normalize';
@import './variables';
@import url('https://rsms.me/inter/inter-ui.css');

html {
  font-family: 'Inter UI', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

html, body {
  height: 100%;
}

body {
  font-size: $base-font-size;
  line-height: 1.428571429;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
