@import './normalize';
@import './variables';

html, body {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.428571429;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  align-items: center;
  background: $color-wrapper;
  display: flex;
  height: 100%;
  justify-content: center;
}

.viewport {
  align-items: center;
  background-color: $color-viewport;
  box-shadow: 0 4px 40px 0px $color-viewport;
  display: flex;
  min-height: $size-min-height;
  position: relative;
  min-width: $size-min-width;

  @media (max-width: $size-min-width) {
    min-height: 100%;
    min-width: 100%;
  }
}