@import './normalize';
@import './variables';

html, body {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.428571429;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  align-items: center;
  background: $color-wrapper;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}

.viewport {
  align-items: center;
  background-color: $color-viewport;
  box-shadow: 0 4px 60px -10px rgba($color-black, .5);
  display: flex;
  height: $size-min-height;
  position: relative;
  overflow: hidden;
  width: $size-min-width;
  z-index: $z-index-viewport;

  @media (max-width: $size-min-width) {
    height: 100%;
    width: 100%;
  }
}