.clicker {
  bottom: 30px;
  display: flex;
  height: 50px;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 5;

  button {
    background: rgb(255, 110, 110);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
}