.ticker {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 7rem;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  width: 100%;
  z-index: 3;
}