$base-font-size: 14px;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-wrapper: rgb(255, 110, 110);
$color-viewport: rgb(53, 64, 81);

$size-min-height: 736px;
$size-min-width: 414px;

$z-index-clicker: 3;
$z-index-ticker: 2;
$z-index-timePanel: 1;

$transition-speed: .35;
$transition-timing-function: 'cubic-bezier(0.165, 0.840, 0.440, 1.000)';

:export {
  base_font_size: $base-font-size;
  base_font_family: $base-font-family;
  color_wrapper: $color-wrapper;
  color_viewport: $color-viewport;
  wrapper_minHeight: $size-min-height;
  wrapper_minWidth: $size-min-width;
  zindex_clicker: $z-index-clicker;
  zindex_ticker: $z-index-ticker;
  zindex_timePanel: $z-index-timePanel;
  transition_speed: $transition-speed;
  transition_timing_function: $transition-timing-function;
}