@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
}

@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background: linear-gradient(135deg, #333, #000);
  }
}

body.julio-le-parc {
  background: linear-gradient(to right, #d3959b, #bfe6ba);
}

body.instability {
  background: linear-gradient(to right, #5d4157, #a8caba);
}
